.user_image_castom {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 100px;
}

.card_user_castom {
    max-width: 400px;
    margin: 40px auto;

}

.user_info_container {
    display: flex;
    align-items: center;
}

.form_user_castom {
    max-width: 400px;
    margin: 40px auto;
    padding: 10px;
}
